.hero {
  background: url('../../images/hero-bg.png') center;
  background-size: cover;
  min-height: 1627px;
  padding-top: 290px;
}

.hero::before {
  content: '';
  position: absolute;
  bottom: -250px;
  width: 120%;
  min-height: 500px;
  background-color: white;
  z-index: 0;
  transform: rotate(-10deg);
}

.hero__title {
  font-family: var(--story);
  font-size: 200px;
  font-weight: 300;
  color: #fff;
}

.food {
  margin-top: 185px;
}

.food__container {
  max-width: 1380px;
  margin: auto;
}
.food__item {
  min-height: 340px;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.food__title {
  position: absolute;
  bottom: 0;
  left: 15px;
  z-index: 1;
}

.food__title::before {
  content: '';
  position: absolute;
  left: 5%;
  bottom: -150%;
  width: 115px;
  height: 115px;
  box-shadow: 0 0 110px 110px rgba(0, 0, 0, 1);
  z-index: -1;
  border-radius: 50%;
}

.food__item:hover {
  transform: scale(1.1);
}

.img-1 {
  background: url(../../images/organic-1.png) no-repeat;
  background-size: cover;
}
.img-2 {
  background: url(../../images/organic-2.jpg) no-repeat;
  background-size: cover;
}
.img-3 {
  background: url(../../images/organic-3.jpg) no-repeat;
  background-size: cover;
}
.img-4 {
  background: url(../../images/organic-4.jpg) no-repeat;
  background-size: cover;
}
.food__title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  padding: 10px 0;
  color: #fff;
  margin: 0 20px;
}