.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 40px;
  color: var(--orange);
}

.text-right {
  text-align: right;
}