@import './components/header.css';
@import './components/hero.css';
@import './components/fonts.css';
@import './helpers/variables.css';
@import './helpers/grid.css';

* {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 40px;
  color: #fcdb5a;
}

.text-right {
  text-align: right;
}
